<template>
	<div>
		<a
			:href="appLink"
			target="_blank"
			class="app-container"
			:class="app.name"
		>
			<div>
				<UiIconButton
					class="app-info-icon"
					icon="info_outline"
					type="secondary"
					@click="$refs['help-popup'].open($event)"
				>
				</UiIconButton>
				<UiTooltip position="right">{{
					$t("components.app_component.information")
				}}</UiTooltip>
			</div>
			<img
				class="app-icon"
				:src="app.icon"
				:alt="`${app.name} logo`"
				importance="high"
			/>
			<div class="app-description">
				{{
					$t(`components.app_component.app_descriptions['${app.id}']`)
				}}
			</div>
		</a>
		<HelpModal ref="help-popup" :name="app.name"></HelpModal>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator"
import UiTooltip from "keen-ui/src/UiTooltip.vue"
import UiIconButton from "keen-ui/src/UiIconButton.vue"

import { IApp } from "../../../../lib/models"

import HelpModal from "./HelpModal.vue"

@Component({
	components: {
		UiTooltip,
		UiIconButton,
		HelpModal,
	},
})
export default class AppComponent extends Vue {
	@Prop({ type: Object, required: true }) public readonly app: IApp

	public get appLink() {
		return `https://${this.app.subdomain}.${location.host.replace(
			"home.",
			"",
		)}/${this.app.path || ""}`
	}
}
</script>

<style lang="less" scoped>
.app-container {
	cursor: pointer;
	background: #fff;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 250px;
	height: 250px;
	margin: 20px;
	padding: 20px;

	transition: box-shadow 250ms;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	// Override <a> style
	color: #2c3e50;
	text-decoration: none;

	position: relative;

	@media screen and (max-width: 1500px) {
		width: 225px;
		height: 225px;
		padding: 10px;
	}

	@media screen and (max-width: 1000px) {
		width: 150px;
		height: 150px;
	}

	@media screen and (max-width: 600px) {
		width: 100px;
		height: 100px;
	}

	&:hover .app-info-icon {
		opacity: 1;
	}

	.app-info-icon {
		transition: opacity 0.25s;
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.75);
		position: absolute;
		top: 5px;
		right: 5px;
		color: grey;

		@media screen and (max-width: 1000px) {
			top: 2px;
			right: 2px;
		}

		@media screen and (max-width: 600px) {
			display: none;
		}
	}

	.app-icon {
		display: inline-block;
		width: 100%;
		height: 160px;
		object-fit: contain;

		@media screen and (max-width: 1500px) {
			height: 130px;
		}

		@media screen and (max-width: 1000px) {
			height: 90px;
		}

		@media screen and (max-width: 600px) {
			height: 100%;
		}
	}

	.app-description {
		text-align: center;

		@media screen and (max-width: 1500px) {
			padding-top: 10px;
		}

		@media screen and (max-width: 600px) {
			display: none;
		}
	}

	&:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}
</style>
