<template>
	<ui-modal
		ref="help-modal"
		:title="$t('components.help_modal.title', { name })"
		size="large"
	>
		<div class="help-container">
			<vue-markdown
				:typographer="false"
				table-class="flap-help-table"
				:source="mdContent"
			></vue-markdown>
		</div>
	</ui-modal>
</template>

<script lang="ts">
import axios from "axios"

import { Component, Vue, Emit, Prop } from "vue-property-decorator"
import UiModal from "keen-ui/src/UiModal.vue"

import VueMarkdown from "vue-markdown"

@Component({
	components: {
		UiModal,
		VueMarkdown,
	},
})
export default class HelpModal extends Vue {
	// Props.
	@Prop({ type: String, required: true }) public readonly name: string

	// Data.
	public mdContent: string = ""

	// Loading indicators.
	public contentLoading = false

	// Error messages.
	public errorMessage = ""

	private async loadContent() {
		if (this.mdContent === "") {
			// For now, default to "fr".
			const response = await axios.get(
				`/help/${"fr" || navigator.language}/${this.name}.md`,
			)

			let rawContent = response.data
			const envVars: any = {
				username: this.$store.state.user.username,
				domain_name: location.host.replace("home.", ""),
			}

			Object.keys(envVars).forEach((key) => {
				rawContent = rawContent.replace(
					new RegExp(`{{${key}}}`, "g"),
					envVars[key],
				)
			})

			this.mdContent = rawContent
		}
	}

	// Public methods.
	public async open(event: Event) {
		event.preventDefault()
		;(this.$refs["help-modal"] as any).open()
		this.loadContent()
	}
}
</script>

<style lang="less" scoped>
.help-container {
	& > * {
		max-width: 100%;
	}
}
</style>
