<template>
	<form id="password-form" @submit="updatePassword">
		<UiTextbox
			name="oldPassword"
			type="password"
			autocomplete="current-password"
			:label="$t('components.password_form.inputs.old_password.title')"
			:floatingLabel="true"
			v-model="form.oldPassword"
			required
			:minlength="8"
			:maxlength="256"
		></UiTextbox>

		<UiTextbox
			name="newPassword"
			type="password"
			autocomplete="new-password"
			:label="$t('components.password_form.inputs.new_password.title')"
			:floatingLabel="true"
			v-model="form.newPassword"
			required
			:minlength="8"
			:maxlength="256"
		></UiTextbox>

		<UiButton
			class="submit-button"
			:loading="updateLoading"
			:raised="true"
			color="accent"
			>{{ $t("components.password_form.buttons.update") }}</UiButton
		>

		<UiAlert
			v-if="errorMessage.length > 0"
			type="error"
			:dismissible="false"
			id="password-form-alert"
			>{{ errorMessage }}</UiAlert
		>
	</form>
</template>

<script lang="ts">
import { Component, Vue, Emit, Prop } from "vue-property-decorator"
import UiTextbox from "keen-ui/src/UiTextbox.vue"
import UiButton from "keen-ui/src/UiButton.vue"
import UiAlert from "keen-ui/src/UiAlert.vue"

import { apiClient } from "../../../apiClient"
import { AxiosError } from "axios"
import { errorToString, isAxiosError } from "../../../tools"

@Component({
	components: { UiTextbox, UiButton, UiAlert },
})
export default class PasswordForm extends Vue {
	// Props.
	@Prop({ type: String, required: true }) public readonly username: string

	// Data.
	public form: { oldPassword: string; newPassword: string } = {
		oldPassword: "",
		newPassword: "",
	}

	// Loading indicators.
	public updateLoading = false

	// Error messages.
	public errorMessage = ""

	// Life cycle.
	public async mounted() {}

	// Public methods.
	@Emit("passwordUpdated")
	public async updatePassword(event: Event) {
		event.preventDefault()

		if (
			this.form.oldPassword === undefined ||
			this.form.newPassword === undefined
		) {
			return
		}

		this.errorMessage = ""
		this.updateLoading = true

		try {
			const response = await apiClient.patch(
				`/users/${this.username}/password`,
				this.form,
			)
		} catch (error: any) {
			// Display the error in the GUI
			if (isAxiosError(error) && error.response.status === 400) {
				this.errorMessage = this.$t(
					"components.password_form.errors.updating_with_fields",
					{ error: Object.keys(error.response.data).join(", ") },
				) as string
			} else {
				this.errorMessage = this.$t(
					"components.password_form.errors.updating_with_error",
					{ error: errorToString(error) },
				) as string
			}

			// Prevent resolving the promise and emitting the passwordUpdated event.
			throw error
		} finally {
			this.updateLoading = false
		}
	}
}
</script>

<style lang="less" scoped>
#password-form {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 0 15px;

	#password-form-alert {
		margin-top: 15px;
	}

	.submit-button {
		margin-top: 30px;
		align-self: center;
	}
}
</style>
