<template>
	<tr
		:id="{ 'is-current': domain.name === currentDomain }"
		class="domain-component"
	>
		<td class="domain-status">
			<UiIcon
				v-if="domain.status === 'OK'"
				class="icon-green"
				type="secondary"
				icon="check"
			></UiIcon>
			<UiTooltip v-if="domain.status === 'OK'" position="left">{{
				$t("components.domain_component.icons_tooltips.status.ok")
			}}</UiTooltip>

			<UiIcon
				v-if="domain.status === 'ERROR'"
				class="icon-red"
				type="secondary"
				icon="error"
			></UiIcon>
			<UiTooltip v-if="domain.status === 'ERROR'" position="left">{{
				$t("components.domain_component.icons_tooltips.status.error")
			}}</UiTooltip>

			<UiProgressCircular
				v-if="creationLoading"
				class="domain-progress"
				type="indeterminate"
			></UiProgressCircular>
			<UiTooltip v-if="creationLoading" position="left">{{
				$t("components.domain_component.icons_tooltips.status.error")
			}}</UiTooltip>
		</td>
		<td class="domain-name">
			<span class="domain-name-name">{{ domain.name }}</span>
			<template
				v-if="
					!primaryWaiting && domain.name === primaryDomain.domain.name
				"
			>
				<UiIcon
					class="icon-orange"
					type="secondary"
					icon="star"
				></UiIcon>
				<UiTooltip position="left">{{
					$t(
						"components.domain_component.icons_tooltips.primary_domain_name",
					)
				}}</UiTooltip>
			</template>

			<UiIconButton
				v-if="
					domain.status === 'OK' &&
					(primaryWaiting ||
						domain.name !== primaryDomain.domain.name)
				"
				:loading="primaryWaiting"
				color="black"
				type="secondary"
				icon="star_border"
				@click="setPrimary(domain.name)"
				:tooltip="
					$t(
						'components.domain_component.actions_tooltips.mark_as_primary',
					)
				"
				tooltipPosition="right"
				class="make-primary-domain-button"
				:class="{ waiting: primaryWaiting }"
			></UiIconButton>
		</td>
		<td class="domain-provider">{{ domain.provider }}</td>
		<td class="domain-actions">
			<UiIconButton
				color="accent"
				type="secondary"
				icon="edit"
				@click="$refs['domain-form-modal'].open()"
				:tooltip="
					$t(
						'components.domain_component.actions_tooltips.edit_domain',
					)
				"
				tooltipPosition="right"
			></UiIconButton>

			<UiModal
				ref="domain-form-modal"
				size="large"
				:title="$t('components.domain_component.edit_modal.title')"
			>
				<DomainNameForm
					@domainNameSent="domainEditionCallback"
					:updatedDomain="domain"
					:buttonLabel="
						$t('components.domain_component.edit_modal.save_edits')
					"
				></DomainNameForm>
			</UiModal>

			<UiIconButton
				v-if="Object.keys(domain.dkim).length !== 0"
				type="secondary"
				icon="mail_outline"
				@click="$refs['dkim-modal'].open()"
				:tooltip="
					$t('components.domain_component.actions_tooltips.show_dkim')
				"
				tooltipPosition="right"
			></UiIconButton>

			<UiModal
				ref="dkim-modal"
				size="large"
				:title="
					$t('components.domain_component.dkim_modal.title', {
						domain: domain.name,
					})
				"
			>
				<div class="dkim">
					<template v-for="key in Object.keys(domain.dkim)"
						>{{ key }}={{ domain.dkim[key] }};&nbsp;</template
					>
				</div>
			</UiModal>

			<a
				:href="'https://' + domain.name"
				v-if="domain.status === 'OK' && domain.name !== currentDomain"
				target="_blank"
			>
				<UiIcon type="secondary" icon="launch"></UiIcon>
				<UiTooltip position="right">{{
					$t(
						"components.domain_component.icons_tooltips.visit_domain",
					)
				}}</UiTooltip>
			</a>

			<UiIconButton
				v-if="
					!creationLoading &&
					domain.name !== currentDomain &&
					domain.name !== primaryDomain.domain.name
				"
				color="red"
				type="secondary"
				icon="delete"
				@click="deleteDomain(domain.name)"
				:tooltip="
					$t(
						'components.domain_component.icons_tooltips.delete_domain',
					)
				"
				tooltipPosition="right"
			></UiIconButton>
		</td>
	</tr>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from "vue-property-decorator"
import UiIconButton from "keen-ui/src/UiIconButton.vue"
import UiIcon from "keen-ui/src/UiIcon.vue"
import UiProgressCircular from "keen-ui/src/UiProgressCircular.vue"
import UiTooltip from "keen-ui/src/UiTooltip.vue"
import UiModal from "keen-ui/src/UiModal.vue"

import { apiClient } from "../../../apiClient"
import { DomainNameInfo } from "../../../models"
import DomainNameForm from "./../domains/DomainNameForm.vue"

@Component({
	components: {
		UiIconButton,
		UiIcon,
		UiProgressCircular,
		UiTooltip,
		UiModal,
		DomainNameForm,
	},
})
export default class DomainComponent extends Vue {
	// Data
	@Prop({ type: Object, required: true })
	public readonly domain: DomainNameInfo
	@Prop({ type: Object, required: false })
	public readonly primaryDomain?: {
		loading: boolean
		domain?: DomainNameInfo
	}

	public currentDomain = location.host

	// Waiting for the server to pick up the primary domain change.
	public get primaryWaiting() {
		return (
			this.primaryDomain.domain === undefined ||
			(this.primaryDomain.loading &&
				this.domain.name === this.primaryDomain.domain.name)
		)
	}
	// Waiting for the server to pick up the new domain.
	public get creationLoading() {
		return (
			this.domain.status === "WAITING" || this.domain.status === "HANDLED"
		)
	}

	// Events
	@Emit("setPrimary")
	async setPrimary(name: string) {}
	@Emit("deleteDomain")
	async deleteDomain(name: string) {}

	// Public Methods.
	public async domainEditionCallback(domain: DomainNameInfo) {
		;(this.$refs["domain-form-modal"] as any).close()
	}
}
</script>
<style lang="less" scoped>
.domain-component {
	background: #fff;
	height: 40px;

	&.is-current {
		font-weight: bold;
	}

	.domain-status {
		width: 75px;
	}

	.domain-name {
		display: flex;
		align-content: center;
		align-items: center;
		height: 38px;

		.domain-name-name {
			margin-right: 10px;
		}

		.make-primary-domain-button {
			visibility: hidden;
			&.waiting {
				visibility: visible;
			}
		}

		&:hover {
			.make-primary-domain-button {
				visibility: visible;
			}
		}
	}

	.domain-provider {
		width: 150px;
	}

	.domain-actions {
		width: 150px;

		a > span {
			vertical-align: baseline;
		}

		.dkim {
			display: block;
			word-break: break-all;
			background: #f4f4f4;
			color: #666;
			font-family: monospace;
			line-height: 1.6;
			padding: 1em 1.5em;
		}
	}

	.icon-green {
		color: green;
	}

	.icon-red {
		color: red;
	}

	.icon-orange {
		color: orange;
	}
}
</style>
