<template>
	<div id="home">
		<Header></Header>

		<main>
			<AppsList></AppsList>
		</main>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"

import Header from "../components/Header.vue"
import AppsList from "../components/home/AppsList.vue"

import { IApp } from "../../../lib/models"

@Component({
	components: {
		Header,
		AppsList,
	},
})
export default class Home extends Vue {
	// Application list
	public apps: IApp[] = []

	// Error messages
	public loadAppErrorMessage = ""
}
</script>

<style lang="less" scoped>
#home {
	height: 100%;
	display: flex;
	flex-direction: column;

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
</style>
