// Keen UI css reset
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	height: 100%;
	background: #f7f7f7;

	// Font
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	body {
		margin: 0;
		height: 100%;
		color: #2c3e50;

		#app {
			height: 100%;
		}
	}
}

// Fix Keen UI cursor style on buttons
button {
	cursor: pointer !important;
}

.ui-button--color-accent {
	color: #201d19 !important;
}

h2 {
	font-weight: normal;
	font-size: 30px;
	text-align: center;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.flap-help-table {
	border-collapse: collapse;
	width: 100%;
}

.flap-help-table {
	border-collapse: collapse;
	width: 100%;
}

.flap-help-table td,
.flap-help-table th {
	border: 1px solid gray;
	padding: 5px;
}
