<template>
	<form @submit.prevent="createUser" class="user-creation-form">
		<UiTextbox
			name="fullname"
			type="text"
			icon="format_quote"
			:label="$t('components.create_user_form.inputs.displayname.title')"
			:help="$t('components.create_user_form.inputs.displayname.help')"
			:floatingLabel="true"
			v-model="newUser.fullname"
			@input="
				(value) =>
					(newUser.username = value.split(' ')[0].toLowerCase())
			"
			autofocus
			required
			:maxlength="64"
		></UiTextbox>

		<UiTextbox
			name="email"
			type="email"
			autocomplete="email"
			icon="mail"
			:label="$t('components.create_user_form.inputs.email.title')"
			:help="$t('components.create_user_form.inputs.email.help')"
			:floatingLabel="true"
			v-model="newUser.email"
			required
			:maxlength="256"
		></UiTextbox>

		<UiTextbox
			name="username"
			type="text"
			autocomplete="off"
			icon="perm_identity"
			:label="$t('components.create_user_form.inputs.username.title')"
			:help="$t('components.create_user_form.inputs.username.help')"
			:floatingLabel="true"
			v-model="newUser.username"
			required
			:maxlength="32"
		></UiTextbox>

		<div class="password-container">
			<UiSwitch
				class="password-checkbox"
				v-if="passwordToggle"
				name="setPassword"
				boxPosition="left"
				v-model="setPassword"
			>
			</UiSwitch>
			<UiTextbox
				name="password"
				type="password"
				autocomplete="off"
				icon="fingerprint"
				:label="$t('components.create_user_form.inputs.password.title')"
				:help="$t('components.create_user_form.inputs.password.help')"
				:floatingLabel="true"
				:disabled="!setPassword"
				v-model="newUser.password"
				required
				:minlength="8"
				:maxlength="256"
			></UiTextbox>
		</div>

		<UiCheckbox
			class="admin-checkbox"
			v-if="!mustBeAdmin"
			name="admin"
			boxPosition="right"
			v-model="newUser.admin"
		>
			<UiIcon icon="supervised_user_circle" class="icon" />
			{{ $t("components.create_user_form.inputs.admin.title") }}
		</UiCheckbox>

		<UiButton
			class="submit-button"
			:loading="loading"
			size="small"
			:raised="true"
			color="accent"
			>{{ buttonLabel }}</UiButton
		>

		<UiAlert
			class="error-message"
			v-if="errorMessage.length > 0"
			type="error"
			:dismissible="false"
			>{{ errorMessage }}</UiAlert
		>
	</form>
</template>

<script lang="ts">
import { Component, Vue, Emit, Prop } from "vue-property-decorator"
import UiTextbox from "keen-ui/src/UiTextbox.vue"
import UiButton from "keen-ui/src/UiButton.vue"
import UiIcon from "keen-ui/src/UiIcon.vue"
import UiAlert from "keen-ui/src/UiAlert.vue"
import UiCheckbox from "keen-ui/src/UiCheckbox.vue"
import UiSwitch from "keen-ui/src/UiSwitch.vue"
import { AxiosError } from "axios"

import { apiClient } from "../../../apiClient"
import { IUser } from "../../../models"
import { errorToString, isAxiosError } from "../../../tools"

@Component({
	components: { UiIcon, UiTextbox, UiButton, UiAlert, UiCheckbox, UiSwitch },
})
export default class CreateUserForm extends Vue {
	// Allow to change the label of the submit button
	@Prop({ type: String, default: "Créer" }) public buttonLabel: string
	// Allow to specify if the user must be an administrator (usefull during setup)
	@Prop({ type: Boolean, default: false }) public mustBeAdmin: boolean
	// Allow creating a user without a password
	@Prop({ type: Boolean, default: false }) public passwordToggle: boolean

	// Form
	public newUser: IUser & { password: string } = {
		fullname: "",
		username: "",
		email: "",
		password: "",
		admin: false,
	}

	public setPassword = true

	public loading = false
	public errorMessage = ""

	@Emit("userCreated")
	public async createUser(event: Event) {
		if (this.loading) {
			return
		}

		this.errorMessage = ""
		this.loading = true

		if (this.mustBeAdmin) {
			this.newUser.admin = true
		}

		if (!this.setPassword) {
			delete this.newUser.password
		}

		try {
			// Create the new user
			const response = await apiClient.post("/users", this.newUser)
			// Reset the newUser object
			this.newUser = {
				fullname: "",
				username: "",
				email: "",
				password: "",
				admin: false,
			}
			;(event.target as HTMLFormElement).reset()
			return response.data
		} catch (error: any) {
			// Display the error in the GUI
			if (isAxiosError(error) && error.response.status === 400) {
				this.errorMessage = this.$t(
					"components.create_user_form.errors.user_creation_with_fields",
					{
						status: error.response.status,
						fields: Object.keys(error.response.data).join(", "),
					},
				) as string
			} else {
				this.errorMessage = this.$t(
					"components.create_user_form.errors.user_creation_with_error",
					{ error: errorToString(error) },
				) as string
			}

			// Prevent resolving the promise and emitting the userCreated event
			throw error
		} finally {
			this.loading = false
		}
	}
}
</script>
<style lang="less" scoped>
.user-creation-form {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 0 15px;

	.password-container {
		display: flex;
		align-items: center;

		.ui-switch {
			margin-right: 30px;
		}

		.ui-textbox {
			flex-grow: 1;
		}
	}

	.admin-checkbox {
		margin-top: 30px;
		width: 275px;

		.icon {
			margin-right: 10px;
			color: #ff9800;
		}
	}

	.submit-button {
		margin-top: 30px;
		align-self: center;
	}

	.error-message {
		margin-top: 30px;
	}
}
</style>
