<template>
	<div>
		<label
			class="file-selection"
			v-if="state == 'select-file'"
			for="file-select"
			v-bind:class="{
				'file-ok': fileOver === 'ok',
				'file-error': fileOver === 'error',
			}"
		>
			<div
				class="file-dropzone"
				@drop="onFileDrop"
				@dragover="(event) => event.preventDefault()"
				@dragenter="onDragEnter"
				@dragleave="onDragLeave"
			></div>
			<UiIcon icon="save_alt" />
			{{ $t("components.load_users.labels.select_file") }}
			<input
				type="file"
				accept=".csv"
				id="file-select"
				@change="loadSelectedFile"
			/>
			{{ $t("components.load_users.labels.example_of_a_file") }}
			<code>
				R. Daneel Olivaw, r.daneel.olivaw@space.town, dany
				<br />
				Elijah Baley, elijahbaley@nypd.gov, baley
			</code>
		</label>

		<div class="users-list" v-if="state == 'show-file'">
			<div class="table-container">
				<table>
					<thead>
						<tr>
							<th>
								{{
									$t(
										"components.load_users.table_headers.displayname",
									)
								}}
							</th>
							<th>
								{{
									$t(
										"components.load_users.table_headers.username",
									)
								}}
							</th>
							<th>
								{{
									$t(
										"components.load_users.table_headers.email",
									)
								}}
							</th>
							<th>
								{{
									$t(
										"components.load_users.table_headers.status",
									)
								}}
							</th>
						</tr>
					</thead>

					<tr v-for="(user, i) in users" :key="i" class="user-info">
						<td>{{ user.fullname }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.email }}</td>
						<td class="user-load-info">
							<UiProgressCircular
								v-show="status[i] === 'loading'"
								type="indeterminate"
							></UiProgressCircular>

							<UiTooltip v-show="status[i] === 'error'"
								>{{ errorMessages[i] }}
							</UiTooltip>
							<UiIcon
								v-show="status[i] === 'error'"
								icon="warning"
								class="icon-red"
							/>

							<UiIcon
								v-show="status[i] === 'ok'"
								icon="check"
								class="icon-green"
							/>
						</td>
					</tr>
				</table>
			</div>

			<UiSelect
				label="Username generation strategy"
				placeholder="Select a strategy"
				:options="['merge', 'firstname', 'provided']"
				v-model="usernameGenerationStrategy"
				@change="refreshUsernames"
			></UiSelect>
			<UiButton @click="loadUsers" icon="publish" color="accent">
				{{ $t("components.load_users.buttons.load") }}</UiButton
			>
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Emit } from "vue-property-decorator"
import UiButton from "keen-ui/src/UiButton.vue"
import UiIcon from "keen-ui/src/UiIcon.vue"
import UiProgressCircular from "keen-ui/src/UiProgressCircular.vue"
import UiTooltip from "keen-ui/src/UiTooltip.vue"
import UiIconButton from "keen-ui/src/UiIconButton.vue"
import UiSelect from "keen-ui/src/UiSelect.vue"
import { AxiosError } from "axios"

import { apiClient } from "../../../apiClient"
import { IUser } from "../../../models"
import { errorToString, isAxiosError, sleep } from "../../../tools"

@Component({
	components: {
		UiIcon,
		UiProgressCircular,
		UiTooltip,
		UiButton,
		UiIconButton,
		UiSelect,
	},
})
export default class LoadUsersFile extends Vue {
	public state: "select-file" | "show-file" = "select-file"
	public fileOver: "" | "ok" | "error" = ""
	public usernameGenerationStrategy: "merge" | "firstname" | "provided" =
		"merge"

	public users: (IUser & { providedUsername?: string })[] = []

	public status: (undefined | "loading" | "ok" | "error")[] = []
	public errorMessages: string[] = []

	@Emit("usersLoaded")
	public async loadUsers(event: Event) {
		this.users.forEach(async (user, i) => {
			await this.createUser(this.users[i], i)
		})

		let error = this.status.reduce(
			(error, status) => error || status === "error",
			false,
		)

		if (error) {
			throw new Error(
				this.$t("components.load_users.errors.generic_error") as string,
			)
		}
	}

	public async createUser(user: IUser, i: number) {
		this.status[i] = "loading"
		this.errorMessages[i] = ""
		this.$forceUpdate()

		try {
			// Create the new user
			const response = await apiClient.post("/users", user)
			this.status[i] = "ok"
		} catch (error: any) {
			this.status[i] = "error"

			// Display the error in the GUI
			if (isAxiosError(error) && error.response.status === 400) {
				this.errorMessages[i] = this.$t(
					"components.create_user_form.errors.user_creation_with_fields",
					{
						status: error.response.status,
						fields: Object.keys(error.response.data).join(", "),
					},
				) as string
			} else {
				this.errorMessages[i] = this.$t(
					"components.create_user_form.errors.user_creation_with_error",
					{ error: errorToString(error) },
				) as string
			}
		} finally {
			this.$forceUpdate()
		}
	}

	public loadSelectedFile(event: Event) {
		this.loadFile((event.target as any).files[0])
	}

	public onFileDrop(event: DragEvent) {
		// Prevent default action (open as link for some elements).
		event.preventDefault()

		this.fileOver = ""

		if (
			!event.dataTransfer.files[0] ||
			event.dataTransfer.files[0].type !== "text/csv"
		) {
			return
		}

		this.loadFile(event.dataTransfer.files[0])
	}

	public onDragEnter(event: DragEvent) {
		if (
			event.dataTransfer.items[0] &&
			event.dataTransfer.items[0].type === "text/csv"
		) {
			this.fileOver = "ok"
		} else {
			this.fileOver = "error"
		}
	}

	public onDragLeave(event: DragEvent) {
		this.fileOver = ""
	}

	private loadFile(file: File | undefined) {
		if (!file) {
			return
		}

		let reader = new FileReader()

		reader.onload = (event) => {
			this.state = "show-file"
			this.users = event.target.result
				.toString()
				.split("\n")
				.filter((line) => line !== "")
				.map((line) => line.split(","))
				.filter(([fullname, email, username]) => fullname && email)
				.map(([fullname, email, username]) => ({
					fullname,
					email,
					username: username || this.generateUsername(fullname),
					admin: false,
					providedUsername: username,
				}))

			if (this.users.length > 0 && this.users[0].providedUsername) {
				this.usernameGenerationStrategy = "provided"
			}
		}

		reader.readAsText(file)
	}

	public refreshUsernames() {
		this.users = this.users.map((user) => ({
			...user,
			username: this.generateUsername(
				user.fullname,
				user.username,
				user.providedUsername,
			),
		}))
	}

	private generateUsername(
		fullname: string,
		username?: string,
		providedUsername?: string,
	): string {
		switch (this.usernameGenerationStrategy) {
			case "merge":
				return fullname.replace(" ", "").toLowerCase().substr(0, 64)
			case "firstname":
				return fullname.split(" ")[0].toLowerCase().substr(0, 64)
			case "provided":
				return providedUsername || username
		}
	}
}
</script>
<style lang="less" scoped>
.file-selection {
	position: relative;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	cursor: pointer;

	&.file-ok {
		background: #edf9ed;
	}

	&.file-error {
		background: #faeded;
	}

	.file-dropzone {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.ui-icon {
		font-size: 75px;
	}
}

.users-list {
	display: flex;
	flex-direction: column;

	.table-container {
		height: 300px;
		overflow: auto;

		table {
			width: 100%;
			text-align: center;

			th {
				border-bottom: 2px solid #ddd;
			}

			.user-load-info {
				height: 40px;
				display: flex;
				align-content: center;
				justify-items: center;
				align-items: center;
				justify-content: center;
				position: relative;

				& > * {
					position: absolute;
				}

				.icon-green {
					color: green;
				}

				.icon-red {
					color: red;
				}
			}
		}
	}

	.ui-button {
		margin-top: 15px;
	}
}
</style>
