<template>
	<tr
		:class="{
			'is-me': isCurrentUser,
			[user.username]: true,
		}"
	>
		<td>{{ user.fullname }}</td>
		<td>
			<code class="username">{{ user.username }}</code>
		</td>
		<td>
			<a :href="`mailto:${user.email}`">
				{{ user.email }}
				<UiTooltip position="right">{{
					$t("components.user_component.tooltips.send_mail")
				}}</UiTooltip>
			</a>
		</td>
		<td>
			<UiIconButton
				v-if="!user.admin"
				type="secondary"
				icon="supervised_user_circle"
				@click="setAdmin(true)"
				:tooltip="
					$t('components.user_component.tooltips.promote_as_admin')
				"
				tooltipPosition="right"
			></UiIconButton>

			<UiIconButton
				v-if="user.admin && !isCurrentUser"
				color="orange"
				type="secondary"
				icon="supervised_user_circle"
				@click="setAdmin(false)"
				:tooltip="
					$t('components.user_component.tooltips.unpromote_as_admin')
				"
				tooltipPosition="right"
			></UiIconButton>

			<UiIconButton
				v-if="!isCurrentUser"
				color="red"
				type="secondary"
				icon="delete"
				@click="$refs['delete-user-confirm'].open()"
				:tooltip="$t('components.user_component.tooltips.delete_user')"
				tooltipPosition="right"
			></UiIconButton>

			<UiConfirm
				ref="delete-user-confirm"
				:title="
					$t('components.user_component.modals.delete_user.title')
				"
				type="danger"
				:confirmButtonText="
					$t(
						'components.user_component.modals.delete_user.confirmButton',
					)
				"
				confirmButtonIcon="delete"
				:denyButtonText="
					$t(
						'components.user_component.modals.delete_user.cancelButton',
					)
				"
				@confirm="deleteUser"
				:loading="deleteLoading"
				:closeOnConfirm="false"
				>{{
					$t(
						"components.user_component.modals.delete_user.question",
						{ user: user.username },
					)
				}}
			</UiConfirm>
		</td>
	</tr>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from "vue-property-decorator"
import UiIconButton from "keen-ui/src/UiIconButton.vue"
import UiConfirm from "keen-ui/src/UiConfirm.vue"
import UiTooltip from "keen-ui/src/UiTooltip.vue"

import { apiClient } from "../../../apiClient"
import { IUser } from "../../../models"
import { isAxiosError, errorToString } from "../../../tools"
import CreateUserForm from "./CreateUserForm.vue"

@Component({
	components: {
		UiIconButton,
		UiConfirm,
		CreateUserForm,
		UiTooltip,
	},
})
export default class UserComponent extends Vue {
	// Data
	@Prop({ type: Object, required: true })
	public readonly user: IUser

	@Prop({ type: Boolean, default: false })
	public readonly isCurrentUser: boolean

	// Loading indicators.
	public deleteLoading = false

	// Public Methods.
	@Emit("adminStatusChanged")
	public async setAdmin(isAdmin: boolean) {
		try {
			// Create the new user
			await apiClient.patch(`/users/${this.user.username}`, {
				admin: isAdmin,
			})
		} catch (error: any) {
			const errorMessage = this.$t(
				"components.user_component.errors.updating_user",
				{ error: errorToString(error) },
			)
			this.$emit("error", errorMessage)
			throw errorMessage
		}
	}

	@Emit("userDeleted")
	public async deleteUser() {
		this.deleteLoading = true

		try {
			// Create the new user
			await apiClient.delete(`/users/${this.user.username}`)
		} catch (error: any) {
			const errorMessage = this.$t(
				"components.user_component.errors.deleting_user",
				{ error: errorToString(error) },
			)

			this.$emit("error", errorMessage)
			throw errorMessage
		} finally {
			this.deleteLoading = false

			Vue.nextTick(() => {
				;(this.$refs["delete-user-confirm"] as any).close()
			})
		}
	}
}
</script>

<style lang="less" scoped>
td {
	line-height: 35px;
}

.username {
	font-size: 15px;
}

.is-me {
	font-weight: bold;
}
</style>
