<template>
	<div id="users-editor">
		<table>
			<thead>
				<tr>
					<th>
						{{
							$t(
								"components.users_editor.table_headers.displayname",
							)
						}}
					</th>
					<th>
						{{
							$t("components.users_editor.table_headers.username")
						}}
					</th>
					<th>
						{{ $t("components.users_editor.table_headers.email") }}
					</th>
					<th>
						{{
							$t("components.users_editor.table_headers.actions")
						}}
					</th>
				</tr>
			</thead>
			<tbody>
				<UserComponent
					v-for="user in users"
					:key="user.username"
					:user="user"
					:isCurrentUser="
						user.username === $store.state.user.username
					"
					@userDeleted="getUsersList()"
					@adminStatusChanged="getUsersList()"
					@error="displayError"
				></UserComponent>
			</tbody>
		</table>

		<div class="buttons-container">
			<UiButton
				class="create-user-button"
				color="accent"
				icon="person_add"
				@click="$refs['user-form-modal'].open()"
				>{{
					$t("components.users_editor.buttons.add_a_user")
				}}</UiButton
			>

			<UiButton
				class="load-users-file"
				color="accent"
				icon="group_add"
				@click="$refs['load-users-modal'].open()"
				>{{
					$t("components.users_editor.buttons.load_users_file")
				}}</UiButton
			>
		</div>

		<UiModal
			ref="user-form-modal"
			size="large"
			:title="$t('components.users_editor.modals.create_user.title')"
		>
			<CreateUserForm
				@userCreated="userCreatedCallback"
				:buttonLabel="
					$t('components.users_editor.modals.create_user.button')
				"
				:passwordToggle="true"
			></CreateUserForm>
		</UiModal>

		<UiModal
			ref="load-users-modal"
			size="large"
			:title="$t('components.users_editor.modals.load_users.title')"
		>
			<LoadUsersFile @usersLoaded="usersLoadedCallback"></LoadUsersFile>
		</UiModal>

		<UiAlert
			class="error-message"
			v-if="errorMessage.length > 0"
			type="error"
			:dismissible="false"
			>{{ errorMessage }}</UiAlert
		>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import UiButton from "keen-ui/src/UiButton.vue"
import UiAlert from "keen-ui/src/UiAlert.vue"
import UiModal from "keen-ui/src/UiModal.vue"

import { apiClient } from "../../../apiClient"
import { IUser } from "../../../models"
import { isAxiosError, errorToString } from "../../../tools"
import CreateUserForm from "./CreateUserForm.vue"
import UserComponent from "./UserComponent.vue"
import LoadUsersFile from "./LoadUsersFile.vue"

@Component({
	components: {
		UiModal,
		UiAlert,
		UiButton,
		CreateUserForm,
		UserComponent,
		LoadUsersFile,
	},
})
export default class UsersEditor extends Vue {
	// Users list
	public users: Array<{ username: string }> = []

	// Loading indicators.
	public usersLoading = false
	public deleteLoading = false

	// Error messages.
	public errorMessage = ""

	private getRef(ref: string): {
		open: () => {}
		close: () => {}
	} {
		return this.$refs[ref] as any
	}

	// Life cycle.
	public async mounted() {
		this.usersLoading = true
		await this.getUsersList()
	}

	// Private Methods.
	private async getUsersList() {
		try {
			this.usersLoading = true
			// Get the users list.
			const response = await apiClient.get("/users")
			this.users = response.data
		} catch (error: any) {
			this.errorMessage = this.$t(
				"components.users_editor.errors.loading_users_list",
				{ error: errorToString(error) },
			) as string
		} finally {
			this.usersLoading = false
		}
	}

	// Public Methods.
	public async userCreatedCallback() {
		this.getRef("user-form-modal").close()
		await this.getUsersList()
	}

	public async usersLoadedCallback() {
		this.getRef("load-users-modal").close()
		await this.getUsersList()
	}

	public displayError(error: string) {
		this.errorMessage = error
	}
}
</script>

<style lang="less" scoped>
#users-editor {
	display: flex;
	flex-direction: column;
	padding: 25px 50px;
	@media screen and (max-width: 1000px) {
		padding: 15px;
	}

	table {
		width: 100%;
		margin-bottom: 50px;

		th {
			text-align: left;
			line-height: 35px;
			border-bottom: 2px solid #ddd;
		}
	}

	.buttons-container {
		display: flex;
		align-self: end;

		.create-user-button {
			margin-right: 15px;
		}
	}

	.error-message {
		margin-top: 30px;
	}
}
</style>
