<template>
	<header v-if="$store.state.user !== null">
		<router-link to="/" id="flap-icon">
			<img src="/logo.svg" />
			<span>
				{{
					$t("components.header.flap_of", {
						name: $store.state.user.fullname,
					})
				}}
			</span>
		</router-link>

		<router-link to="/settings" id="settings-link">
			<UiIcon icon="settings"></UiIcon>
		</router-link>

		<a :href="logoutURL">
			<UiIconButton
				id="logout-button"
				type="secondary"
				icon="logout"
				color="accent"
			></UiIconButton>
		</a>
	</header>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import UiSnackbar from "keen-ui/src/UiSnackbar.vue"
import UiIconButton from "keen-ui/src/UiIconButton.vue"
import UiIcon from "keen-ui/src/UiIcon.vue"

import router from "../router"

@Component({
	components: {
		UiSnackbar,
		UiIconButton,
		UiIcon,
	},
})
export default class Header extends Vue {
	public get logoutURL() {
		return `${location.protocol}//auth.${location.host.replace(
			"home.",
			"",
		)}?logout=1`
	}
}
</script>

<style lang="less" scoped>
header {
	height: 55px;
	min-height: 55px;
	padding: 0 25px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
	background: #0067cb;

	#flap-icon {
		font-size: x-large;
		letter-spacing: 0.7px;
		flex-grow: 1;
		text-align: left;
		color: #f9a90e;
		text-decoration: none;
		line-height: 32px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		img {
			height: 32px;
			vertical-align: sub;
		}

		span {
			margin-left: 15px;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	#settings-link,
	#logout-button {
		margin: 0 15px;
	}

	#settings-link {
		color: #f9a90e;
	}
}
</style>
